
/**{
  color:red;
}
apply on all over -universal selector,cant inherited
*/
h1{
  font-size: 26px;
  font-family: sans-serif
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  
}
a{
  color: #1098ad;
  text-decoration:none;
}
h2{
  font-size: 30px;
  font-family: sans-serif;

}
h3{
  font-size: 30px;
  font-family: sans-serif;
}
h4{
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}
li{
  font-size: 20px;
  font-family: sans-serif;
  list-style-type: none;

}
p{
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5;
}
/*decendant selector*/
footer p{
  font-size: 12px;
}
.post{
  font-size:15px;
  font-weight: bold;
}
h1,h2,h3{
  color:rgb(47, 225, 225);
}
.main-header{
  
 
  background-color: purple;
}
aside{
  background-color: #f7f7f7;
  border: 5px solid #1098ad;
}
body{
  background-color: plum;
}
/*Pseudo Classes*/
li:first-child{
  font-weight: bold;

}
li:last-child{
  font-family: cursive;
}
li:nth-child(2)
{
  color: red;
}
li:nth-child(even)
{
  color: blanchedalmond;
}
a:hover{
  color: red;
  text-decoration: underline violet ;
}
a:active{
  background-color: blue;
  font-style: italic;
}
#copyright{
  color: red;

}
.copyright{
  color: blueviolet;
}
footer p{
  color: blue;
}